name: Update Dependencies

on:
  schedule:
    # Run every Monday at 9:00 AM UTC
    - cron: "0 9 * * 1"
  workflow_dispatch: # Allow manual trigger

jobs:
  update_dependencies:
    name: Update Dependencies
    runs-on: ubuntu-latest
    environment: update
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/prepare

      - uses: tylersayshi/taze-update-action@v1
        with:
          taze-input: -rw --concurrency 1
          branch-prefix: update-deps
          pr-title: "update dependencies"
          pr-labels: dependencies
          github-token: ${{ secrets.PAT_TOKEN }}
